/*
    Here 'll be the main configurations of main layout 
*/

// colors
/*$ice-green: #4DE8BE;
$mint-green: #50F299;
$green: #53DB6A;
$lime-green: #67F250;
$camo-green: #99E84D;*/

// Mint Inspired Theme Swatches in RGBA
$dark-green: rgba(7,39,9, 1);
$pepper-mint-green: rgba(39,89,37, 1);
$mint-green: rgba(51,114,41, 1);
$dead-green: rgba(129,165,124, 1);
$white: rgba(242,242,242 1);

// font props
$font: "Arial Narrow", Arial, sans-serif;
$header-size: 2em;
$functionality-size: 1.4em;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}
