@import "../styles.scss";

.main-page {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-rows: 1fr 5fr 1.7fr;

  header {
    background: $mint-green;
    display: flex;
    justify-content: center;

    h1 {
      font-size: $header-size;
      font-family: $font;
    }
  }

  nav {
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;*/

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 80%;

    .functionality-option {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background: $dark-green;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      text-decoration: none;
      font-size: $functionality-size;

      &:hover {
        cursor: pointer;
      }
    }
  }

  footer {
    background: $dead-green;
  }
}
